
.navbar {
  background: #212529; /* Darker shade for the navbar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.6rem;
  color: #f8f9fa !important;
}

.nav-link {
  color: #f8f9fa !important;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #adb5bd !important;
}

.dropdown-menu {
  background: #343a40;
  border: none;
}

.dropdown-menu .dropdown-item:hover {
  background: #495057;
  color: #fff !important;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space space-between;
    background-color: #0000;
   }
   footer .copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0; 
  }
   